@charset "UTF-8";
/* CSS Document */

/* Styles for browser window is widder than 800px */
* {
  box-sizing: border-box;
}

body {
  font-family: "forma-djr-display", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.flex-container {
  display: flex;
  height: 250px;
  width: auto;
  background-color: #DEDEDB;
}

.flex-container > div {
  background-color: #f1f1f1;
  width: 1280px;
  margin: 10px;
  text-align: left;
  line-height: 30px;
  font-size: 16px;
}

.left {
  flex: 40%;
  padding: 10px;
}

.center {
  flex: 30%;
  padding: 10px;
}

.right {
  flex: 30%;
  padding: 10px;
}

.left, .right, .center {
  flex: 100%;
}

/* Start: tell browser to do the followings when browser window is 800px or smaller */
  @media only screen and (max-width: 1280px) {




} /* don't forget to close the styles for 800px and smaller */
