@charset "UTF-8";
/* CSS Document */

html {font-size: 100%;} /*16px*/



body {
  background-color: #FCF9F4;
  margin: 0;
  padding: 50px;
  line-height: 1.75;
  color: black;
}

h1 {

  font-size: 5em;
  color: black;
}

h2 {font-size: 3em;
color: black;

}

h4 {font-size: 1.5em;
margin-top: 0;
color: black; 

}

dt {
	font-size: 2em;
	font-weight: bold;
}
