html {font-size: 100%;} /*16px*/

body {
  background-color: #FCF9F4;
  margin: 0;
  padding: 100px 100px 100px 100px;
  line-height: 1.75;
}

h1 {
font-size: 5em;
padding:0;
margin: 0;
color: #E9A597;
}

h2 {
font-size: 3em;
color: #A9CECF;
}

h4 {
font-size: 1.5em;
margin-top: 0;
color: #E9A597;
}

dt {
font-size: 2em;
font-weight: bold;
color: #E9A597;
}

