@charset "UTF-8";
/* CSS Document */

h1 {
  font-family: "Source Sans Variable",Arial,sans-serif;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: auto;
  margin-left: auto;
}

h3 {
  font-family: "Source Sans Variable",Arial,sans-serif;
}

p {
 font-family: Arial,sans-serif; 
}

mark.red {
    color:#db301d;
    background: none;
}
