@charset "UTF-8";
/* CSS Document */

h1 {
  font-family: "Source Sans Variable",Arial,sans-serif;
}

p {
 font-family: Arial,sans-serif; 
}

h3 {
 font-family: "Source Sans Variable",Arial,sans-serif; 
}

ul li a {
  font-family: "Source Sans Variable",Arial,sans-serif; 
}

.content {
  margin: auto;
  padding: auto;
  max-width: 500px;
}
